<% if flash[:message] %>
  <div class="flash-message">
    <h3><%= flash[:message] %></h3>
  </div>
<% end %>

<%= form_tag('/sessions') do %>
  <%= label_tag "Username" %>
  <%= text_field_tag "username" %>
  <br>
  <%= label_tag "Password" %>
  <%= password_field_tag "password" %>
  <br>
  <%= submit_tag "Log In" %>
<% end %>
