<div class="page-header">
  <h2>Book Library</h2>
  <div class="filters">
    <p>See newly added books from the past:</p>
    <%= form_tag books_path, method: "get" do %>
      <%= select_tag "date", options_for_select(["Day", "Week", "Month", "Year"]), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
    <%= button_to "Clear Filter", books_path, method: "get" %>

    <br>
  </div>

  <%= button_to "Add a New Book", new_book_path, method: "get" %>

</div>

<% if flash[:message] %>
  <div class="flash-message">
    <h3><%= flash[:message] %></h3>
  </div>
<% end %>

<div class="books list">
  <ul>
    <% @books.each do |book| %>
        <li><%= link_to book.title, book_path(book)%></li>
    <% end %>
  </ul>
</div>
