<div class="page-header">
  <h2><%= @book.title %></h2>
</div>

<div class="book-attrs">
  <h4>Author: <%= link_to @book.author_name, author_path(@book.author) %></h4>
  <% if !@book.about.empty? %>
    <p>About: <%= @book.about %></p>
  <% end %>
  <p>Genre: <%= @book.genre %></p>
</div>

<br>

<%= button_to "Add Book to Reading List", add_book_path(@book) if !current_user.books.include?(@book)%>
<%= button_to "Remove from Reading List", remove_book_path(@book) if current_user.books.include?(@book)%>

<%= button_to "Edit Book", edit_book_path(@book.id), method: "get" if current_user.id == @book.creator_id %>

<!-- <%= button_to "Delete Book", book_path(@book.id), method: "delete" %> -->

<br>

<%= button_to "Add Comment", new_book_comment_path(@book), method: "get" %>


<br>

<% if @book.comments.any? %>
  <%= button_to "See User Comments", book_comments_path(@book), method: "get" %>
<% end %>
