<div class="page-header">
  <h2><%= @book.title %></h2>
</div>

<div class="book-attrs list">
  <ul>
    <li><%= link_to @book.author_name, author_path(@book.author) %></li>
    <li><%= @book.genre %></li>
    <% if !@book.about.empty? %>
      <li><%= @book.about %></li>
    <% end %>
  </ul>
</div>

<%= button_to "Edit Book", edit_book_path(@book.id), method: "get" %>

<%= button_to "Delete Book", book_path(@book.id), method: "delete" %>
