<div class="page-header">
  <h2><%= @book.title %></h2>
</div>

<div class="book-attrs list">
  <ul>
    <li><%= link_to @book.author_name, author_path(@book.author) %></li>
    <li><%= @book.genre %></li>
    <% if !@book.about.empty? %>
      <li><%= @book.about %></li>
    <% end %>
  </ul>
</div>

<%= button_to "Add Book to Reading List", add_book_path(@book) if !current_user.books.include?(@book)%>
<%= button_to "Remove from Reading List", remove_book_path(@book) if current_user.books.include?(@book)%>

<%= button_to "Edit Book", edit_book_path(@book.id), method: "get" if current_user.id == @book.creator_id %>

<!-- <%= button_to "Delete Book", book_path(@book.id), method: "delete" %> -->

<br><br>


<%= form_for [@book, @comment] do |f| %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit "Add Comment"%>
<% end %>
