<!DOCTYPE html>
<html>
  <head>
    <title>My Reading List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "My Reading List", root_path, class: "navbar-brand" %>
          </div>
          <ul class="nav navbar-nav">
            <li><%=link_to "Book Library", books_path %></li>
            <li><%=link_to "Author List", authors_path %></li>
            <li><%=link_to "Add New Book", new_book_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= button_to "Log Out", session_path(current_user.id), method: "delete", class: "btn btn-danger"%></li>
            <% else %>
              <li><%=link_to "SignUp", new_user_path, class: "glyphicon glyphicon-user" %></li>
              <li><%=link_to "LogIn", new_session_path, class:"glyphicon glyphicon-log-in" %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <% if flash[:message] %>
        <p><%= flash[:message] %></p>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
